/* To change the default Bootstrap font*/
/*$baseFontFamily: Oxygen;
@import url(http://fonts.googleapis.com/css?family=Oxigen);*/

/* it is possible to override many of the variables used by 
the Bootstrap CSS should one decide to make the layout
different from the original Boostrap look

Beacuse Rails uses SCSS, istead of using @, the $ must be used
*/ 

@import 'bootstrap';

body {
	padding-top: 60px;
}

@import 'bootstrap-responsive';

.footer {
	margin-top: 50px;
	color: $grayLight;
	clear: both;
}

.footer a {
	color: $gray;
}

/* Requequired for jQuery Masonry */

.box {
	margin: 5px;
	padding: 5px;
	line-height: 1.4em;
	float: left;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	box-shadow: 1px 1px 10px #444;
	width: 214px;
}

.box img {
	display: block;
	width: 100%;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.description {
	margin: 10px 0 5px;
}